.accordion_item {
    position: relative;
    height: 50px;
    width: 226px;
    margin: -11px -14px 10px 0;
    background-color: rgb(7, 7, 15);
    border: 0.5px solid gray;
    display: inline-block;
    font-size: 1.2em;
    color: lightgrey;
}

.button {
    height: 100%;
    width: 100%;
    padding: 8px 15px;
}

.button:hover {
    background-color: rgba(1, 24, 23, 0.986);
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;

}

  .answer_wrapper {
    height: 0;
    overflow: hidden;
    transition: height ease 0.2s;
  }

  .answer li {
    height: 40px;
    width: 230px;
  }

  .answer li:hover {
    background-color: rgba(1, 24, 23, 0.986);
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .answer_wrapper.open {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    display: inline-block;
  }

  .answer_wrapper.open:hover {
    background-color:rgb(1, 12, 11);
    transition: 0.5s;
    cursor: pointer;
  }

  .answer_wrapper:hover {
    background-color:rgb(1, 12, 11);
    transition: 0.5s;
    cursor: pointer;
  }

.subAccordion {
  height: 40px;
  font-size: 0.9em;
  border-bottom: 0.5px solid gray;
  background-color: rgb(5, 5, 14);;
}

.noAccordion {
  height: 60px;
  width: 100%;
  padding: 10px 15px;
}

.noAccordion:hover {
  background-color: rgba(1, 24, 23, 0.986);
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.selected {
  background-color: rgba(1, 24, 23, 0.586);
}

a {
  text-decoration: none;
}