.sample_farsi_digits {
    font-feature-settings: "ss01";
}

@font-face {
    font-family: VazirmatnPersian;
    src: url('../../vazir/misc/Farsi-Digits/fonts/webfonts/Vazirmatn-FD-Medium.woff2') format('woff2');
  }

  @font-face {
    font-family: VazirmatnEngilish;
    src: url('../../vazir/fonts/webfonts/Vazirmatn-Medium.woff2');
}

.enField {
    font-family: VazirmatnEngilish;
}

body {
    direction: rtl;
    margin: 0px;
    padding-bottom: 20px;
    font-size: 13px;
    font-family: VazirmatnPersian;
}

.container {
    width: 100%;
    max-width: 1800px;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

.linkColor{
    font-size: 1.3em;
    color: white;
}

.linkColor:hover {
    color: lightgray;
    transition: 0.5s;
}

.linkColor:visited {
    color: white;
}

.linkCallToMe{
    font-size: 1.3em;
    color: white;
}

.callButton {
    margin-top: 3px;
    background-color:#0a0a23;
    color: #fff;
    border:none;
    border-radius:10px;
}

.callButton :hover {
    color: lightgray;
    transition: 0.5s;
}

.dropdownMenu {
    background-color: lightgray;
    text-align: center;
}

.dropdownItem {
    background-color: lightgray;
}

.navColor {
    background-color: #020720;
}


.imageFrame {
    height: 620px;
    width: 100%;
    background-color: rgb(10, 1, 1);
}

.mainImage {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.05;
}

.titleFrame {
    position: absolute;
    height: 100px;
    width: 50%;
    margin-top: -400px;
    margin-right: 25%;
}

.titleFrame h1 {
    color: rgb(112, 6, 68);
    text-align: center;
    font-size: 5em;
}

.description {
    height: 100px;
    width: 85%;
    margin: 60px 100px 20px 100px;
    font-size: 1.3em;
}

.productFrame {
    height: auto;
    width: 1225px;
    margin: 100px 117px 20px 0;
}

.productItem {
    display: inline-block;
    height: 350px;
    width: 350px;
    margin: 20px 10px 20px 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.productItem:hover {
    display: inline-block;
    height: 350px;
    width: 350px;
    margin: 20px 10px 20px 10px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.2), 0 20px 30px 0 rgba(0, 0, 0, 0.19);
}

.productItem img {
    height: 55%;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.productItem p {
    text-align: center;
    color: #020720;
    font-size: 1.5em;
    margin-top: 20px;
}

.productItem .title {
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
}

.productItem .price {
    font-size: 1.2em;
    text-align: center;
    margin-top: 5px;
}

.productItem .price img {
    height: 15px;
    width: 15px;
    color: black;
}

span {
    margin-right: 120px;
    padding: 10px 15px;
    margin-top: 5px;
    border: 0.5px solid gray;
    border-radius: 25px;
}

span:hover {
    background-color: lightgray;
}

.buyDetails{
    margin: 50px 130px 0 0;
    box-shadow: 1px 1px 70px lightgray;
}

.payment {
    margin: 50px 5px 0 0;
}

.leftAlign {
    float: left;
}

table td {
    height: 60px;
}

.refresh {
    text-align: center;
    box-shadow: 1px 1px 70px lightgray;
    padding-bottom: 30px;
}

.pay {
    height: 320px;
    margin: 20px 0 0 0;
    box-shadow: 1px 1px 70px lightgray;
}

.zarinColor {
    font-size: 1.2em;
    color: gray;
}

.submit {
    margin-right: 40px;
}

.select {
    width: 60px;
}

.noBorder {
    text-align: left;
    background-color:rgba(0,0,0,0) !important;
    border:none !important;
}

.noBorder:hover {
    pointer-events: none;
}