.sample_farsi_digits {
    font-feature-settings: "ss01";
}

@font-face {
    font-family: VazirmatnPersian;
    src: url('../../vazir/misc/Farsi-Digits/fonts/webfonts/Vazirmatn-FD-Medium.woff2') format('woff2');
  }

  @font-face {
    font-family: VazirmatnEngilish;
    src: url('../../vazir/fonts/webfonts/Vazirmatn-Medium.woff2');
}

.enField {
    font-family: VazirmatnEngilish;
}

body {
    font-family: VazirmatnPersian;
    direction: rtl;
    font-size: 1em;
    background-color: lightgray;

}

.registerForm {
    height: 500px;
    width: 80%;
    background-color: white;
    border: 2px solid gray;
    border-radius: 15px;
    margin: 80px 10% 0 0;
}

.loginPicture {
    height: 400px;
    width: 400px;
    margin: 50px 0 0 30px;
    float: left;
    background-image: url("../../pictures/login.svg");
    background-size: cover;
}

.loginForm {
    height: 500px;
    width: 500px;
    margin: 0 30px 0 0;
    text-align: center;
}

h2 {
    margin: 20px 0 20px 0;
}

a {
    text-decoration: none;
}
