.addProduct {
    height: 1650px;
    box-shadow: 1px 1px 70px lightgray;
}

.addtitle {
    position: absolute;
}

.addBody {
    position: absolute;
    margin-top: 80px;

}

.nameAddressBadge {
    font-size: 0.9em;
    direction: ltr;
    float: left;
    margin: 5px 0 0 10px;
}

.imageUpload {
    height: 140px;
    width: 200px;
    background: url("../../pictures/unimage.png") no-repeat;
    background-size: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.categoryImage {
    height: 140px;
    width: 200px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.btnSubmit {
    margin-right: 30%;
}

.fileUloadArea {
    padding: 5px;
    border-bottom: 2px solid gray;
    border-radius: 25px;
}

label {
    font-size: 1.2em;
}

.productOptions1 {
    height: 170px;
    padding: 30px 0;
    box-shadow: 3px 3px 10px lightgray;
}

.productOptions2 {
    height: 260px;
    padding: 30px 0;
    box-shadow: 3px 3px 10px lightgray;
}

.productOptions3 {
    height: 320px;
    padding: 30px 0;
    box-shadow: 3px 3px 10px lightgray;
}

.selectCategory {
    display: block;
    margin-top: 15px;
    height: 35px;
    width: 250px;
}

.textPrice {
    width: 200px;
}

.textNumber {
    width: 135px;
}